@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
body {
  font-family: 'Andika', sans-serif;
}


.characters-container {
  margin: 24px auto;
  border: 1px solid #cecece;
  padding: 24px;
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 148px);
  grid-template-rows: 160px;
  gap: 32px;
  align-items: center;
}

.characterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid #c9c9c9;
  padding: 8px;
  border-radius: 8px;
  /* max-height: 148px; */
  min-height: 100%;
}

.character-image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 8px;
}

.selector-container {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
}
.select-container {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}
.loading {
  text-align: center;
  font-size: 32px;
}